@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0.25turn ,lightblue , rgb(0, 149, 255));
  font-family: 'Roboto',sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    color:#000;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    min-width: 350px;
    min-height:80vh;
    padding:1rem;
    border-radius: 0.4rem;
    gap:1rem;
}
.input-container{
    display: flex;
    align-items: center;
    gap:10rem;
}
#input{
    width: 180%;
    padding:0.6rem;
    border: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-list{
    background-color: #ccc;
    text-transform: capitalize;
    color:black;
    width: 100%;
    font-size: 18px;
    padding:0.3rem;
    border:1px solid #0000;
    outline: none;
}
::placeholder{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
}
.add-symbol{
    cursor: pointer;
    font-weight: 700;

 

    border-radius: 5px;
    
}
#btn{
    color:#fff;
    padding:0.5rem 1rem;
    background-color: rgb(80, 19, 178);
    transform: translateY(0px);
    font-size: 18px;;
}
.list-items{
    padding:0.2rem;
 
    width:100%;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
li{
    color:#ccc;
    background-color: #ccc;
    padding:0.1rem;
    font-size: 20px;
    border-radius: 4px;
    width:100%;
}
.input-error{
    color:red;
    font-size: 15px;
    display: block;
    padding-block:0.1rem;

    padding-inline:0.8rem;
}
#fly-by{
    background-color: #fff;
    padding:0.5rem;
    transform: translateY(-100px);
    animation-duration: 1s;

}

@keyframes fly {
   from{
    transform: translateY(-100px);
   }
   to{
    transform: translateY(0px);
   }
    
}
button{
    cursor: pointer;
    transform: translateY(-6px);
    border: none;
    outline: none;
    padding: 0.7rem 1rem;
    border-radius: 4px;
}
.pending-items{
    position: absolute;
bottom:13%;
padding:1rem;
display: flex;
align-items: center;
justify-content: space-between;
gap:6.1rem;
}
.clear-btn button{
    cursor: pointer;
    background-color: rgb(80, 19, 178);
    color:#fff;
    font-weight: 700;
}
button{
    font-weight: 700;
    
}